[user]
	name = Paul Gessinger
	email = hello@paulgessinger.com
[mergetool]
	keepBackup = true
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore
	editor = nvim
[alias]
	conflicted = !vim +Conflicted
[pull]
	ff = only
[init]
	defaultBranch = main
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[rebase]
	updateRefs = true
[credential]
	helper = osxkeychain

[include]
  path = $HOME/dotfiles/delta_themes.gitconfig

[delta]
  features = villsau
  side-by-side = false
